.summary-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.terms-container {
  display: flex;
  @media (max-width: 1040px) {
    flex-direction: column;
    gap: 1rem;
  }
  justify-content: space-between;
  .terms {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    label {
      max-width: 700px;
      min-width: 250px;
    }
    input[type=checkbox] {
      position: relative;
      cursor: pointer;
    }
    input[type=checkbox]:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      border: 2px solid purple;
      border-radius: 3px;
      background-color: white;
    }
    input[type=checkbox]:checked:after {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      border: solid purple;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 2px;
      left: 6px;
    }
  }
  .submit-button {
    user-select: none;
    pointer-events: auto;
    &__disabled {
      user-select: none;
      pointer-events: none;
      label {
        color: #dddddd;
      }
    }
  }
}