.header-container {
  background-color: rgb(0, 0, 0);
  padding: 0 7%;
  color: white;
  display: flex;
  margin: 0 auto;
  height: 37px;
  align-items: center;
  justify-content: space-between;
  &__menu {
    display: flex;
    &-item {
      align-items: center;
      display: flex;
      font-size: 14px;
      height: 37px;
      padding: 0 10px;
      font-weight: 700;
      &-active {
        align-items: center;
        background-color: white;
        color: black;
        display: flex;
        font-size: 14px;
        padding: 0 10px;
      }
    }
  }
  &__phone {
    display: flex;
    &__call {
      align-items: center;
      display: flex;
      font-size: 14px;
      height: 37px;
      padding: 0 10px;
    }
    &__callus {
      align-items: center;
      background-color: #44c889;
      color: black;
      display: flex;
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
