@font-face {
  font-family: "Nunito sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Druk sans";
  src: url("./assets/fonts/DrukText-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}
#root {
  font-family: Nunito sans, Druk sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  min-height: 100vh;
  background-color: #eff2fc;
  padding-bottom: 12rem;
  padding-top: 6rem;
  position: relative;
}

header {
  background-color: white;
  color: white;
  padding: 1.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  .finetwork-svb-black {
    background-image: url('./assets/logo/finetwork_black.svg');
    min-width: 140px;
    height: 25px;
    background-size: contain; 
    background-repeat: no-repeat;
  }
  span {
    color: black;
  }

}

footer {
  background-color: black;
  color: white;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  .finetwork-svg {
    background-image: url('./assets/logo/finetwork_ng.svg');
    width: 100px;
    height: 50px;
    background-size: contain; 
    background-repeat: no-repeat;
  }
  .separator {
    border-bottom: 1px solid white;
  }
  .options {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    font-size: 15px;
    span {
      &:hover {
        color: purple;
        cursor: pointer;
        user-select: none;
      }
    }
  }
 
}



