@font-face {
  font-family: "Nunito sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Druk sans";
  src:  url("./assets/fonts/Druk-Medium-Trial.ttf") format("truetype");
}
* {
  margin: 0;
}
#root {
  background-color: #eff2fc;
  height: 100vh;
  font-family: Nunito sans Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


